* {
  color: white;
  margin: 0;
  font-family: "Caveat", cursive;
}
svg {
  width: 10%;
}
.photo {
  width: 100%;
  height: auto;
}

.carousel a span {
  color: white;
}
:root {
  --primary-color: #dba92a;
  --secondary-color: rgb(10, 88, 202);
}

.info {
  background-color: var(--primary-color);
}
.howIget a {
  color: var(--primary-color);
  text-decoration: solid;
}
/*HOMEPAGE*/
.all_in {
  padding: 40px;
}
span,
.myHistory {
  color: var(--secondary-color);
}
.container-a {
  padding-top: 40px;
}
.cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 809px) {
  .info {
    padding: 0 !important;
  }
}
.contact:hover {
  box-shadow: 3px 3px 7px var(--secondary-color);
  color: var(--primary-color);
}

.contact {
  background-color: white;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 20px;
  transition: 0.3s;
}

h2 {
  font-size: 40px !important;
}

h1 {
  font-size: 75px !important;
}
h3 {
  font-size: 25px !important;
}
