* {
  color: white;
  margin: 0;
  font-family: "Caveat", cursive;
}

.photo {
  width: 100%;
  height: auto;
}

.carousel a span {
  color: white;
}
:root {
  --primary-color: #dba92a;
  --secondary-color: rgb(10, 88, 202);
}
i {
  color: var(--primary-color);
  font-size: 170%;
}
.info {
  background-color: var(--primary-color);
}
.howIget a {
  color: var(--primary-color);
  text-decoration: solid;
}
/*HOMEPAGE*/
.all_in {
  padding: 40px;
}
@media (max-width: 812) {
  .photo {
    border-radius: 40px;
  }
}
span,
.myHistory {
  color: var(--secondary-color);
}

.container-a {
  padding-top: 40px;
}
.cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.contact:hover {
  box-shadow: 3px 3px 7px var(--secondary-color);
  color: var(--primary-color);
}

.contact {
  background-color: white;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 20px;
  transition: 0.3s;
}

h1 {
  font-size: 75px !important;
}
@media (max-width: 1120px) {
  h1 {
    font-size: 50px !important;
  }
}
