* {color:white;
  margin: 0;
  font-family:'Caveat', cursive;;
}

.photo{width: 100%;
height:auto;}
body {
  height: 2000px;
}
:root {
  --primary-color: #dba92a;
  --secondary-color:#656D68
  
}
.info-right{border: 3px solid white;}
.info{background-color:var(--primary-color) ;
}
/*HOMEPAGE*/
.all_in {
  padding: 40px;
}

.container-a {
  margin-top: 40px;
}
.contact {
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  margin: 0 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.contact:hover {
  box-shadow: 2px 2px 20px white;
  color:var(--primary-color)
}


.contact{
  background-color:white;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
span{color:var(--secondary-color)}
h2 {
  font-size: 40px !important;
}
h1 {
  font-size: 75px !important;
}
h3 {
  font-size: 25px !important;

}
