:root {
  --primary-color: #dba92a;
  --secondary-color: rgb(10, 88, 202);
}
* {
  margin: 0;
  font-family: "Caveat", cursive;
  color: var(--secondary-color);
}
i {
  color: var(--primary-color);
  font-size: 150%;
}
.fa-check {
  font-size: 70%;
}
.howIget a {
  color: var(--primary-color);
  text-decoration: solid;
}

.myHistory {
  font-size: 60px !important;
}
.project {
  font-size: 40px !important;
}
.header {
  font-size: 60px;
}
.card-text {
  font-size: 25px;
  text-align: center;
}
.contact {
  text-decoration: none;
  padding: 12px;
  background-color: white;
  border: 1px solid var(--secondary-color);

  transition: 0.3s;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact:hover {
  box-shadow: 3px 3px 7px var(--secondary-color);
}

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.contactMe h2 {
  font-size: 80px;
}
.contactMe {
  margin: 170px 0;
}
.contactMe a {
  display: block;
  text-decoration: none;
  padding: 15px;
  font-size: 27px;
  transition: 0.3s;
  color: var(--primary-color);
}

.footer i:hover {
  color: var(--secondary-color);
}
.active,
.navbar a:hover {
  color: var(--secondary-color) !important;
}
.source h5 {
  color: var(--primary-color) !important;
}
.source a {
  text-decoration: none;
}
.source {
  margin: 10px;
}
